<h2> Tagsul: A Thing for Tags in Consul </h2>
<br />
<br />
<p> Welcome to <b>tagsul</b>. Right now there are 2 ways of interacting with it: <br />
<ul>
  <li> <b>/tags</b> This will list all tags on all services in Consul. </li>
  <li> <b>/$tag</b> Where $tag is a tag you want to find out about, this will find all services with that tag and print out some info. </li>
</ul>
</p>
<p>
  Both of these endpoints can also take a "?output=" option where it can be set to 'yaml' or 'json' to giver you machine readble output.
</p>
